.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#hero {
  width: 100%;
  height: 600px;
  object-fit:contain;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about article {
  width: 40%;
  font-size: 1.25rem;
  margin-bottom: 5rem;
}
