.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container .buttons {
  padding: 0;
}

.container .buttons a{
  border: 1px solid black;
  color: #FAF9F6;
  background-color: black;
  padding: .5rem;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.container .buttons a:hover{
  background-color: #FAF9F6;
  color: black;
  border: 1px solid black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

}

.landingHero {
  background-image: url('/assets/landing.jpg');
  background-size: cover;
  width: 100%;
  height: calc(100vh - 116px);
  display: flex;
  flex-direction: row;
  color: black;
}


.landingHero .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 5rem;
}

.landingHero h1 {
  text-align: left;
  font-size: 2.5rem;
}

.colorblock {
  background-color: hsla(45, 29%, 97%, 0.8);
  padding: 2rem;
}
