.container {
  display: flex;
  flex-direction: column;
}

.listings {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
}

.container .empty{
  text-align: left;
}

.container h3 {
  margin-left: 0;
}

@media only screen and (max-width: 400px) {
  .listings{
    flex-direction: column;
  }
}
