.container {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.container:hover {
  border: 1px solid darkgray;
}

.container p {
  margin-top: 0;
  margin-bottom: 0;
  color: #464646;
}

#title {
  font-weight: bold;
  margin-bottom: .5rem;
  color: black;
}

.container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 1rem;
}

#snowflake {
  height: 1rem;
  width: 1rem;
  margin: 0;
}
