.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
}

.container a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.about p{
  margin-top: 0;
  margin-bottom: .25rem;
  color: #464646;
  font-weight: normal;
}

.profileCard {
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.profileCard:hover {
  background-color: aliceblue;
}

.profileCard img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 1rem;
}
