.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: flex-start;
}

.sideBySide div {
  margin-right: 3rem;
}

h3 {
  margin-left: 1rem;
}

.sideBySide h1 {
  margin-top: 0;
}

.sideBySide img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@media only screen and (max-width: 400px) {
  .sideBySide{
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .sideBySide div {
    margin: 0;
  }

  .container h3 {
    text-align: center;
    margin-left: 0;
  }
}
