.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 4px solid black;
  margin-top: .5rem;
}

.container ul {
  width: 60%;
  text-align: right;
  margin-right: 5rem;
}

.container img{
  height: 100px;
  margin-left: 5rem;
}

.container li {
  list-style: none;
  display: inline;
  margin: 1rem;
}

.container a {
  color: black;
  text-decoration: none;
  width: 10rem;
}

.container a:hover {
  text-decoration: underline;
}

.dropdownContent ul {
  padding: 0;
}


.dropdownContent {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: .5rem 0 0 0;
  transition: all 1s ease;
  overflow: visible;
}

ul li:hover > ul,
ul li ul:hover{
  visibility: visible;
  opacity: 1;
}

.mobileNav{
  visibility: hidden;
  display: none;
}

@media only screen and (max-width: 1080px) {
  .container {
    visibility: hidden;
    display: none;
  }

  .mobileNav {
    visibility: visible;
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    background-color: black;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .mobileNav ul{
    list-style: none;
    padding: 0;
  }

  .mobileNav a{
    text-decoration: none;
    color: #FAF9F6;
  }

  #hamburger {
    color: #FAF9F6;
    font-size: 2rem;
    text-align: right;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
  }

  #white {
    height: 5rem;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .header{
    display: flex;
    flex-direction: row;
  }
}
