body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF9F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttons {
  margin: 1rem 0;
}

.buttons a {
  border: 1px solid black;
  padding: .5rem;
  margin-right: 1rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.buttons a:hover {
  background-color: black;
  color: #FAF9F6;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
