/* .container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-bottom: 1rem;
} */

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 350px;
}


.label,
.button {
  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer label {
  font-weight: bold;
  margin-bottom: .25rem;
}

.inputContainer input, select {
  height: 2rem;
}

.inputContainer input, select, textarea {
  border: 1px solid black;
  border-radius: .25rem;
}

.inputContainer input:focus, select:focus, textarea:focus {
  border: 1px solid black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

button {
  border: 1px solid black;
  background-color: unset;
  padding: .5rem;
  margin-right: 1rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 10rem;
  font-size: 1rem;
}

button:hover {
  background-color: black;
  color: #FAF9F6;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
